## Python을 이용한 Redshift Serverless 사용
---

### 패키지 설치

In [1]:
# AWS Pandas SDK 를 설치합니다.
!pip install awswrangler

Collecting awswrangler
  Downloading awswrangler-3.9.0-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: boto3<2.0.0,>=1.20.32 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from awswrangler) (1.34.144)
Requirement already satisfied: botocore<2.0.0,>=1.23.32 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from awswrangler) (1.34.144)
Requirement already satisfied: numpy<2.0,>=1.26 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from awswrangler) (1.26.4)
Requirement already satisfied: packaging<25.0,>=21.1 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from awswrangler) (24.1)
Requirement already satisfied: pandas<3.0.0,>=1.2.0 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from awswrangler) (2.2.2)
Requirement already satisfied: pyarrow>=8.0.0 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from awswrangler) (14.0.2)
Requirement already satisfied: setuptools in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from awswrangler) (70.3.0)
Requirement already satisfied: typing-extensions<5.0.0,>=4.4.0 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from awswrangler) (4.12.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from boto3<2.0.0,>=1.20.32->awswrangler) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from boto3<2.0.0,>=1.20.32->awswrangler) (0.10.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from botocore<2.0.0,>=1.23.32->awswrangler) (2.9.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from botocore<2.0.0,>=1.23.32->awswrangler) (2.2.2)
Requirement already satisfied: pytz>=2020.1 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.23.32->awswrangler) (1.16.0)
Downloading awswrangler-3.9.0-py3-none-any.whl (381 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 381.3/381.3 kB 2.8 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Installing collected packages: awswrangler
Successfully installed awswrangler-3.9.0

In [1]:
# Redshift Connector 를 설치합니다.
!pip install redshift_connector

Collecting redshift_connector
  Downloading redshift_connector-2.1.2-py3-none-any.whl.metadata (66 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.8/66.8 kB 3.7 MB/s eta 0:00:00
Collecting scramp<1.5.0,>=1.2.0 (from redshift_connector)
  Downloading scramp-1.4.5-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: pytz>=2020.1 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from redshift_connector) (2024.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from redshift_connector) (4.12.3)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from redshift_connector) (1.34.144)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from redshift_connector) (2.32.3)
Collecting lxml>=4.6.5 (from redshift_connector)
  Using cached lxml-5.2.2-cp312-cp312-macosx_10_9_universal2.whl.metadata (3.4 kB)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from redshift_connector) (1.34.144)
Requirement already satisfied: packaging in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from redshift_connector) (24.1)
Requirement already satisfied: setuptools in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from redshift_connector) (70.3.0)
Requirement already satisfied: soupsieve>1.2 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.5)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.10.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.9.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2024.7.4)
Collecting asn1crypto>=1.5.1 (from scramp<1.5.0,>=1.2.0->redshift_connector)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: six>=1.5 in /Users/dante/aws-ds-class/.conda/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)
Downloading redshift_connector-2.1.2-py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.0/125.0 kB 5.8 MB/s eta 0:00:00
Using cached lxml-5.2.2-cp312-cp312-macosx_10_9_universal2.whl (8.2 MB)
Downloading scramp-1.4.5-py3-none-any.whl (12 kB)
Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 kB 7.6 MB/s eta 0:00:00
Installing collected packages: asn1crypto, scramp, lxml, redshift_connector
Successfully installed asn1crypto-1.5.1 lxml-5.2.2 redshift_connector-2.1.2 scramp-1.4.5

In [3]:
#  환경변수 설정파일을 통해서 연결정보를 로드하기 위해서 Python Dotenv 를 설치합니다.
!pip install python_dotenv

Collecting python_dotenv
  Using cached python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Using cached python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python_dotenv
Successfully installed python_dotenv-1.0.1

### 라이브러리 및 환경변수 로드

In [6]:
import pandas as pd
import redshift_connector
import os
import awswrangler as wr
from dotenv import load_dotenv
# 환경설정 파일(.env)에서 환경변수를 로드합니다.
# 환견변수 설정파일(.env)에서 환경변수를 로드 하지 않고 직접 셀에 입력할수 도 있지만 보안상 좋지 못합니다.
load_dotenv(".env")

False

### DB 연결 생성

In [2]:
# 연결 생성
conn = redshift_connector.connect(
     host=os.environ['REDSHIFT_HOST'],
     port=os.environ['REDSHIFT_PORT'],
     database=os.environ['REDSHIFT_DB'],
     user=os.environ['REDSHIFT_USER'],
     password=os.environ['REDSHIFT_PASSWORD'],
)

### 데이터 조회

In [5]:
wr.redshift.read_sql_query("SELECT * FROM datamart.houseprice LIMIT 5", conn)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,2660000,2800,3,1,1,yes,no,no,no,no,0,no,unfurnished
1,2660000,2430,3,1,1,no,no,no,no,no,0,no,unfurnished
2,2660000,3480,2,1,1,yes,no,no,no,no,1,no,semi-furnished
3,2660000,4000,3,1,1,yes,no,no,no,no,0,no,semi-furnished
4,2653000,3185,2,1,1,yes,no,no,no,yes,0,no,unfurnished

### 데이터 삽입

In [8]:
# 데이터프레임 생성 (예시 데이터)
data = {
    'price': [2660000, 2653000],
    'area': [2800, 3185],
    'bedrooms': [3, 2],
    'bathrooms': [1, 1],
    'stories': [1, 1],
    'mainroad': ['yes', 'yes'],
    'guestroom': ['no', 'no'],
    'basement': ['no', 'no'],
    'hotwaterheating': ['no', 'no'],
    'airconditioning': ['no', 'yes'],
    'parking': [0, 0],
    'prefarea': ['no', 'no'],
    'furnishingstatus': ['unfurnished', 'unfurnished']
}

df = pd.DataFrame(data)

# Redshift Serverless에 데이터 삽입
wr.redshift.to_sql(
    df,
    schema='datamart',
    table='houseprice',
    con=conn,
    mode='append',  # 데이터 추가 모드
    index=False
)

In [11]:
# 추가된 데이터 확인을 위한 쿼리 실행
wr.redshift.read_sql_query("SELECT * FROM datamart.houseprice where area in (2800, 3185)", conn)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,4956000,2800,3,2,2,no,no,yes,no,yes,1,no,semi-furnished
1,2660000,2800,3,1,1,yes,no,no,no,no,0,no,unfurnished
2,2653000,3185,2,1,1,yes,no,no,no,yes,0,no,unfurnished
3,3430000,3185,2,1,1,yes,no,no,no,no,2,no,unfurnished
4,3360000,3185,2,1,1,yes,no,yes,no,no,2,no,furnished
5,2660000,2800,3,1,1,yes,no,no,no,no,0,no,unfurnished
6,2653000,3185,2,1,1,yes,no,no,no,yes,0,no,unfurnished

### 데이터 삭제

In [19]:
# 데이터 삭제 쿼리 실행
cursor = conn.cursor()
cursor.execute("DELETE FROM datamart.houseprice WHERE area IN (2800, 3185)")

In [20]:
wr.redshift.read_sql_query("SELECT * FROM datamart.houseprice where area in (2800, 3185)", conn)

Empty DataFrame
Columns: [price, area, bedrooms, bathrooms, stories, mainroad, guestroom, basement, hotwaterheating, airconditioning, parking, prefarea, furnishingstatus]
Index: []

In [ ]:
conn.commit()
cursor.close()
conn.close()